/*------------- Font Urbanist -----------*/
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Angkor&family=Beiruti:wght@200..900&family=Belleza&family=Charm:wght@400;700&family=Crimson+Pro:ital,wght@1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gothic+A1&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&family=Syne:wght@400..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");
/* Import Crimson Pro font*/
@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");
/*-------------- Font PlayfairDisplay ------------*/
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Angkor&family=Beiruti:wght@200..900&family=Belleza&family=Charm:wght@400;700&family=Crimson+Pro:ital,wght@1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gothic+A1&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&family=Syne:wght@400..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");
/*-------------- Font Outfit -----------*/
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Angkor&family=Beiruti:wght@200..900&family=Belleza&family=Charm:wght@400;700&family=Crimson+Pro:ital,wght@1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Gothic+A1&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Marcellus&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poor+Story&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght,XOPQ,XTRA,YOPQ,YTDE,YTFI,YTLC,YTUC@8..144,100..1000,96,468,79,-203,738,514,712&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sora:wght@100..800&family=Syne:wght@400..800&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --primary-color: #e00702;
  --text-color: #ffffff;
  --star-color: #ffce5b;
  --nrml-text-color: #dbd8d8;
  --nav-bg-color: #979797;
  --abt-sec-color: #fcf7e7;
  --abt-card-bg: #1fad96;
  --abt-text-color: #ab0c2f;
  --abt-p-text-color: #898989;
  --font-Urbanist: "Urbanist", sans-serif;
  --font-PlayfairDisplay: "Playfair Display", serif;
  --font-Outfit: "Outfit", sans-serif;
  --font-Crimson-Pro: "Crimson Pro", serif;
  --stdy-card-shadow: 0 24px 22.3px 0 rgba(0, 0, 0, 12%);
}
html,
body {
  overflow-x: hidden;
  /* border: 3px solid white; */
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /* z-index: 1000; */
}
.no-scroll {
  overflow: hidden;
  height: 100vh;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1344px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
.xl-continer {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
span {
  display: inline-block;
}
.title-1 {
  font-size: 116px;
  letter-spacing: -5%;
  font-weight: bold;
}
.title-2 {
  font-size: 60px;
}
.title-3 {
  font-size: 40px;
}
.primary-btn {
  display: inline-block;
  padding: 13px 30px;
  background-color: var(--primary-color);
  border-radius: 8px;
  transition: 0.3s linear;
  overflow: hidden;
  position: relative;
}
.primary-btn span {
  color: var(--text-color);
  font-family: var(--font-Outfit);
  font-weight: 500;
  z-index: 1 !important;
  position: relative;
  transition: 0.5s linear;
}
.primary-btn svg {
  margin-left: 3px;
  transition: 0.6s linear;
  position: relative;
  z-index: 1 !important;
}
.primary-btn svg path {
  transition: 0.5s linear;
}
.primary-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--text-color);
  width: 10px;
  transform: scale(0);
  transition: 0.5s linear;
}
.primary-btn:hover::after {
  transform: scale(80);
}
.primary-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.primary-btn:hover span,
.primary-btn:hover svg path {
  color: #000;
  fill: #000;
}
.secondery-btn {
  display: inline-block;
  padding: 13px 30px;
  background-color: var(--text-color);
  border-radius: 8px;
  transition: 0.3s linear;
  overflow: hidden;
  position: relative;
}
.secondery-btn span {
  color: var(--primary-color);
  font-family: var(--font-Outfit);
  font-weight: 500;
  z-index: 1 !important;
  position: relative;
  transition: 0.5s linear;
}
.secondery-btn svg {
  margin-left: 3px;
  transition: 0.6s linear;
  position: relative;
  z-index: 1 !important;
}
.secondery-btn svg path {
  transition: 0.5s linear;
  fill: var(--primary-color);
}
.secondery-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--star-color);
  width: 10px;
  transform: scale(0);
  transition: 0.5s linear;
}
.secondery-btn:hover::after {
  transform: scale(80);
}
.secondery-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.secondery-btn:hover span,
.secondery-btn:hover svg path {
  color: #000;
  fill: #000;
}
h2 {
  font-family: var(--font-Urbanist);
  font-weight: 500;
  line-height: calc(72 / 60);
}
h2 > span {
  position: relative;
  padding-bottom: 3px;
  color: var(--primary-color);
}
h2 > span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 40px;
  right: 0;
  background-image: url("../assets/abt-cnt-after.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 175px;
  height: 13px;
}
/*======================= Top-header ===================*/
.top-header {
  background-color: var(--primary-color);
}
.top-header {
  padding: 9px 0;
}
.tp-hedr-cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tp-hedr-social {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.tp-hedr-social .text-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tp-hedr-social .text-icon span {
  display: inline-block;
  font-family: var(--font-Urbanist-reguler);
  color: var(--text-color);
  text-transform: capitalize;
  font-size: 17px;
}
.tp-hedr-cnt ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}
.tp-hedr-cnt ul li a {
  font-family: var(--font-Urbanist-reguler);
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 16px;
  transition: 0.4s linear;
}
.tp-hedr-cnt ul li {
  position: relative;
}
.tp-hedr-cnt ul li:not(:last-child, :nth-child(3))::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  right: -20px;
  width: 1px;
  background: var(--text-color);
  transform: translateX(50%);
}
.tp-hedr-cnt ul li:last-child::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: -20px;
  width: 1px;
  background: var(--text-color);
  transform: translateX(50%);
}
.top-header ul li {
  position: relative;
}
.top-header ul li:is(:first-child, :nth-child(2), :nth-child(3)):before {
  position: absolute;
  content: "";
  height: 1px;
  left: 0;
  right: 0;
  width: 0%;
  background: var(--text-color);
  bottom: -8px;
  opacity: 0;
  transition: 0.3s linear;
}
.top-header ul li:is(:last-child)::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 0;
  right: 0;
  width: 0%;
  background: var(--text-color);
  bottom: -8px;
  opacity: 0;
  transition: 0.3s linear;
}
.top-header ul li:is(:first-child, :nth-child(2), :nth-child(3)):hover::before,
.top-header ul li:is(:last-child):hover::after {
  opacity: 1;
  width: 100%;
}
/*=================== Navbar =====================*/
.bottom-header {
  box-shadow: 0 26px 74.2px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(18.6px);
  padding: 11px 0;
}
.nav-logo .logo {
  max-width: 98px;
}
.nav-logo .logo img {
  width: 100%;
  object-fit: cover;
}
.navbar-nav {
  gap: 30px;
  margin-right: 35px;
}
.bottom-header .nav-link {
  font-size: 19px;
  font-family: var(--font-Urbanist) !important;
  font-weight: 500;
  color: var(--text-color) !important;
  letter-spacing: -0.2%;
  text-transform: capitalize;
  transition: 0.3s linear;
  opacity: 50%;
}
.bottom-header .nav-link {
  position: relative;
}
.bottom-header .nav-link::after {
  position: absolute;
  content: "";
  background: var(--text-color);
  height: 1.5px;
  left: 8px;
  bottom: -18px;
  width: 0%;
  transition: 0.3s linear;
}
.nav-link.active,
.nav-link:hover {
  opacity: 100%;
}
.nav-link.active::after,
.nav-link:hover::after {
  opacity: 100%;
  width: 80%;
}
.nav-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.regstr-btn {
  max-width: 80px;
  padding: 8px 10px;
  font-family: var(--font-Urbanist-reguler);
  color: var(--text-color) !important;
  text-transform: capitalize;
  background-color: rgba(200, 192, 192, 0.2) !important;
  border-radius: 15px;
  transition: 0.3s linear;
  opacity: 50%;
  border: none;
  outline: none;
}
.regstr-btn:hover {
  opacity: 100%;
  transform: scale(1.02);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.srch-btn {
  transition: 0.3s linear;
  outline: none;
  border: none;
}
.srch-btn:hover {
  transform: scale(1.1);
}
.aply-btn {
  padding: 9px 26px;
  color: var(--text-color) !important;
  text-transform: capitalize;
  border: 1.5px solid var(--nav-bg-color) !important;
  border-radius: 8px;
  font-family: var(--font-Urbanist-reguler);
  transition: 0.3s linear;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.aply-btn::after {
  content: "";
  position: absolute;
  background: rgba(200, 192, 192, 0.2);
  left: 0;
  top: 0;
  bottom: 0;
  transform: scale(0);
  width: 10px;
  transition: 0.6s linear;
}
.aply-btn:hover::after {
  transform: scale(80);
}
.aply-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.regstr-btn:focus,
.srch-btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.offcanvas {
  flex-direction: row;
  z-index: 9998 !important;
}
.navbar-toggler {
  position: relative;
  border: none;
  outline: none;
  padding: 2px 10px;
  margin-right: 10px;
  z-index: 9999;
  cursor: pointer;
}
.navbar-toggler-icon {
  position: absolute;
  width: 80%;
  height: 2px;
  background: #000;
  left: 0;
  transition: 0.3s linear;
}
.navbar-toggler::after,
.navbar-toggler::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #000;
  left: 0;
  transition: 0.3s linear;
}
.navbar-toggler::after {
  bottom: -7px;
}
.navbar-toggler::before {
  top: -6px;
}
.navbar-toggler:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.navbar-toggler.showOn .navbar-toggler-icon {
  transform: translateX(40px);
  opacity: 0;
}
.navbar-toggler.showOn::after {
  transform: rotate(45deg) translateX(-10px);
  background: #600c1e;
}
.navbar-toggler.showOn::before {
  transform: rotate(-45deg) translateX(-9px);
}
/*=================== Banner ================*/
.bnr-sec {
  background:
    url("../assets/bnr-bg.png") no-repeat center/cover,
    linear-gradient(33deg, rgba(0, 0, 0, 0%), rgba(0, 0, 0, 20%)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0%), rgba(0, 0, 0, 20%));
  padding: 182px 0 110px;
  display: flex;
  align-items: center;
  /* position: relative; */
  /* z-index: 1; */
}
.bnr-sec .bnr-cnt {
  max-width: 755px;
}
.bnr-cnt .bnr-tp-cnt {
  max-width: 502px;
  margin-bottom: 15px;
}
.bnr-sec .profiles {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 12px;
}
.bnr-sec .profiles .stars {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 7px;
  margin-bottom: 10px;
}
.bnr-sec .profiles span {
  font-size: 18px;
  font-family: var(--font-Urbanist);
  text-transform: capitalize;
  color: var(--text-color);
}
.bnr-sec .profiles .imges {
  display: flex;
  align-items: center;
}
.bnr-sec .profiles .imges .img-2,
.bnr-sec .profiles .imges .img-3,
.bnr-sec .profiles .imges .img-4,
.bnr-sec .profiles .imges .img-5 {
  margin-left: -29px;
}
.bnr-cnt .sub-title {
  font-size: 41px;
  font-family: var(--font-PlayfairDisplay);
  font-style: italic;
  color: var(--text-color);
}
.bnr-cnt .title-1 {
  font-family: var(--font-Urbanist);
  color: var(--text-color);
  text-transform: capitalize;
  line-height: calc(118 / 116);
  margin-bottom: 30px;
}
.bnr-right-img {
  position: absolute;
  right: 122px;
  top: 87px;
  max-width: 592px;
  height: 750px;
}
.bnr-sec .bnr-right-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*================== Stdy section ====================*/
.stdy-sec {
  padding-bottom: 80px;
  background-color: var(--primary-color);
  position: relative;
}
.stdy-sec .stdy-left-img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 100px;
  max-width: 442px;
}
.stdy-sec .stdy-right-img {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  max-width: 442px;
}
.stdy-sec .stdy-left-img,
.stdy-sec .stdy-left-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stdy-sec .stdy-cards {
  position: relative;
  top: -65px;
  /* --bs-gutter-x: 63px; */
  z-index: 1;
}
.stdy-sec .stdy-cards .card {
  max-width: 283px;
  width: 100%;
  background: transparent;
  border: none;
  transition: 0.3s linear;
}
.stdy-cards .card .card-top {
  padding-top: 36px;
  text-align: center;
  background: var(--text-color);
  box-shadow: var(--stdy-card-shadow);
  border-radius: 15px;
  /* height: 220px; */
  margin-bottom: 27px;
  transition: 0.5s linear;
}
.stdy-cards .card .card-top .card-icon {
  margin-bottom: 19px;
}
.stdy-cards .card .card-top .card-text {
  max-width: 150px;
  font-size: 20px;
  font-family: var(--font-Urbanist);
  font-weight: 500;
  color: var(--nav-bg-color);
  margin: 0 auto;
}
.stdy-cards .card.card-1 .card-text {
  margin-bottom: 43px;
}
.stdy-cards .card.card-2 .card-text {
  margin-bottom: 50px;
}
.stdy-cards .card.card-3 .card-text {
  margin-bottom: 47px;
}
.stdy-cards .card.card-4 .card-text {
  margin-bottom: 40px;
}
.stdy-cards .card .card-top .card-btn {
  margin: 0 auto -25px;
}
.stdy-cards .card .card-btn {
  position: relative;
}
.stdy-sec .card .arow-btn {
  transition: 0.3s linear;
}
.stdy-cards .card .card-cnt {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-family: var(--font-Urbanist);
  line-height: calc(28 / 18);
  color: var(--text-color);
  opacity: 70%;
  transition: 0.3s linear;
  cursor: pointer;
}
.stdy-sec .stdy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.stdy-btn p {
  margin: 0;
  font-family: var(--font-Urbanist);
  font-weight: 500;
  color: var(--text-color);
}
.stdy-btn .best-btn {
  position: relative;
}
.stdy-btn a span {
  font-family: var(--font-Urbanist);
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
}
.stdy-btn .best-btn::after {
  position: absolute;
  content: "";
  left: 0;
  width: 0%;
  bottom: 0;
  height: 1px;
  background: var(--text-color);
  transition: 0.3s linear;
}
.stdy-btn .best-btn:hover::after {
  width: 100%;
}
.stdy-sec .card:hover {
  padding-bottom: 20px;
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.stdy-sec .card:hover .arow-btn {
  transform: rotate(90deg);
}
/*============ About ============*/
.abt-sec {
  padding: 129px 0 0;
  background: var(--abt-sec-color);
}
.abt-sec .abt-row {
  /* margin-bottom: 80px; */
}
.abt-sec .abt-img {
  max-width: 629px;
}
.abt-sec .abt-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.abt-cnt h2 {
  margin-bottom: 27px;
}
.abt-cnt > p {
  margin-left: 30px;
  max-width: 475px;
  font-family: var(--font-Urbanist);
  font-size: 17px;
  line-height: calc(27 / 17);
  color: var(--abt-p-text-color);
  position: relative;
  margin-bottom: 53px;
}
.abt-cnt p::after {
  position: absolute;
  content: "";
  left: -30px;
  top: 0;
  bottom: 0;
  width: 2px;
  background: var(--primary-color);
}
.abt-cnt .abt-trust .build,
.abt-cnt .abt-trust .students {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 19px;
}
.abt-cnt .abt-trust .icon {
  height: 64px;
  width: 64px;
  border-radius: 35px;
  border: 0.6px solid #666666;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s linear;
}
.abt-cnt .abt-trust .icon:hover {
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.abt-cnt .abt-trust .cnt .title {
  font-size: 18px;
  font-family: var(--font-Urbanist);
  font-weight: 600;
}
.abt-cnt .abt-trust .cnt p {
  font-size: 17px;
  font-family: var(--font-Urbanist);
  line-height: calc(27 / 17);
  color: var(--abt-p-text-color);
}
.abt-sec .abt-btm-box {
  padding: 40px 100px;
  background: var(--primary-color);
  border-radius: 20px;
  position: relative;
  top: 145px;
  transition: 0.3s linear;
}
.abt-sec .abt-btm-box:hover {
  transform: scale(0.9) translateY(-30px);
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.abt-sec .abt-btm-card {
  padding: 16px 4px;
}
.abt-sec .abt-btm-card .number {
  margin-bottom: 10px;
  font-size: 100px;
  font-family: var(--font-Crimson-Pro);
  font-style: italic;
  font-weight: 500;
  color: var(--text-color);
  line-height: calc(80 / 100);
}
.abt-sec .abt-btm-card .people {
  color: var(--text-color);
  font-family: var(--font-Urbanist);
  font-size: 20px;
}
.abt-sec .abt-btm-card {
  text-align: center;
}
.abt-sec .abt-btm-card {
  position: relative;
}
/* .abt-sec .abt-btm-card:first-child::after,
.abt-sec .abt-btm-card:nth-child(2)::after,
.abt-sec .abt-btm-card:nth-child(3)::after */
.abt-sec .abt-btm-card.card-1::after,
.abt-sec .abt-btm-card.card-2::after,
.abt-sec .abt-btm-card.card-3::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1px;
  right: -10%;
  background: rgba(255, 255, 255, 30%);
}
/*======= Program =======*/
.prgrm-sec {
  padding: 208px 0 80px;
}
.prgrm-sec .prgrm-cnt {
  text-align: center;
  margin-bottom: 60px;
}
.prgrm-cnt p {
  font-size: 17px;
  font-family: var(--font-Urbanist);
  line-height: calc(27 / 17);
  color: var(--abt-p-text-color);
}
.prgrm-sec .prgrm-card-slider {
  margin-bottom: 20px;
}
.prgrm-sec .prgrm-swiper {
  padding-bottom: 50px;
}
.prgrm-swiper .swiper-slide {
  height: auto;
  display: flex;
}
.prgrm-sec .swiper-pagination {
  position: relative;
  bottom: -40px;
}
.prgrm-sec .swiper-button-prev,
.prgrm-sec .swiper-button-next {
  color: var(--text-color);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.prgrm-sec .swiper-button-prev svg path,
.prgrm-sec .swiper-button-next svg path {
  stroke: var(--primary-color);
}
.prgrm-sec .swiper-pagination-bullet {
  background: #828282;
}
.prgrm-sec .swiper-pagination-bullet-active {
  background: var(--abt-text-color);
}
.prgrm-sec .crse-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 13px 5px;
  background: var(--abt-sec-color);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.3s linear;
}
.prgrm-sec .crse-card .card-img {
  max-width: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
  transition: 0.5s linear;
  border-radius: 15px;
}
.prgrm-sec .crse-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s linear;
  border-radius: 15px;
}
.crse-card .card-title {
  max-width: 316px;
  margin-left: 18px;
  font-size: 22px;
  font-family: var(--font-Urbanist);
  font-weight: 600;
  margin-bottom: 10px;
}
.crse-card p {
  max-width: 316px;
  margin: 0 18px 30px;
  font-size: 17px;
  font-family: var(--font-Urbanist);
  line-height: calc(27 / 17);
  color: var(--abt-p-text-color);
  flex: 1;
}
.crse-card .stud {
  font-size: 17px;
  font-family: var(--font-Urbanist);
  line-height: calc(27 / 17);
  color: var(--abt-p-text-color);
  margin: 0 18px 8px;
  display: block;
}
.crse-card .sesn {
  font-size: 17px;
  font-family: var(--font-Urbanist);
  line-height: calc(27 / 17);
  color: var(--abt-p-text-color);
  margin: 0 18px;
}
.crse-card:hover .card-img img {
  transform: rotate(10deg) scale(1.3);
}
.crse-card .apply-btn {
  width: 100%;
  display: block;
  background: var(--text-color);
  text-align: center;
  border-radius: 4px;
  padding: 9px 0;
  font-family: var(--font-Urbanist);
  font-weight: 600;
  color: #000;
  transition: 0.5s linear;
  overflow: hidden;
  position: relative;
  margin-top: auto;
}
.crse-card .apply-btn span {
  color: #000;
  font-family: var(--font-Outfit);
  font-weight: 500;
  z-index: 1 !important;
  position: relative;
  transition: 0.5s linear;
}
.crse-card .apply-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background: var(--primary-color);
  width: 20px;
  transform: scale(0);
  transition: 0.5s linear;
}
.crse-card .apply-btn:hover::after {
  transform: scale(80);
}
.prgrm-sec .crse-card:hover {
  transform: scale(0.95);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.prgrm-sec .prgrm-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}
.prgrm-btn p {
  margin-bottom: 0;
  font-size: 17px;
  line-height: calc(27 / 17);
  font-family: var(--font-Outfit);
}
.prgrm-btn .view-btn {
  position: relative;
}
.prgrm-btn .view-btn span {
  font-family: var(--font-Urbanist);
  font-weight: 500;
  font-size: 18px;
  color: var(--abt-text-color);
  line-height: calc(27 / 18);
}
.prgrm-btn .view-btn::after {
  position: absolute;
  content: "";
  left: 0;
  width: 0%;
  bottom: -2px;
  height: 1.5px;
  background: var(--abt-text-color);
  transition: 0.3s linear;
}
.prgrm-btn .view-btn:hover::after {
  width: 100%;
}
/*============ Event ============*/
.evnt-sec {
  background: #f6f4ee;
  padding: 80px 0;
}
.evnt-sec .evnt-title {
  margin: 0 auto 50px;
  display: flex;
  align-items: end;
  justify-content: space-between;
  position: relative;
}
.evnt-title::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 0;
  right: 0;
  bottom: -50px;
  background: rgba(132, 132, 132, 30%);
}
.evnt-sec .evnt-title .title-2 {
  max-width: 475px;
  margin-bottom: 0;
  margin-left: 160px;
}
.evnt-sec .evnt-title h2 > span {
  color: var(--abt-text-color);
}
.evnt-sec .evnt-title h2 > span::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -200px;
  right: 0;
  background-image: url("../assets/event-title.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 160px;
  height: 13px;
}
.evnt-sec .evnt-list .evnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  padding-top: 30px;
}
.evnt-sec .evnt-list .evnt::after {
  position: absolute;
  content: "";
  height: 1px;
  left: 0;
  right: 0;
  bottom: -30px;
  background: rgba(132, 132, 132, 30%);
}
.evnt-sec .evnt-list .evnt .evnt-detail {
  display: flex;
  align-items: center;
  gap: 119px;
}
.evnt .evnt-detail .year .date {
  font-size: 50px;
  font-family: var(--font-Crimson-Pro);
  font-weight: 500;
  font-style: italic;
  line-height: calc(40 / 50);
  color: var(--abt-text-color);
}
.evnt.evnt-1 .evnt-detail .year .date {
  color: black;
}
.evnt .evnt-detail .year .month {
  font-size: 16px;
  font-family: var(--font-Urbanist);
}
.evnt .evnt-detail .name-time .name {
  font-size: 24px;
  font-family: var(--font-Outfit);
}
.evnt-sec .evnt .name-time .time {
  display: flex;
  align-items: center;
  gap: 4px;
}
.evnt .name-time .time .time-icon,
.evnt .name-time .time .location {
  display: flex;
  align-items: center;
  gap: 3px;
}
.evnt .name-time .time .time-icon span,
.evnt .name-time .time .location span {
  margin-top: 5px;
  font-family: var(--font-Urbanist);
  font-size: 16px;
  color: var(--abt-p-text-color);
}
/*=========== Testimonial ===========*/
.testi-sec {
  padding: 80px;
  background: url("../assets/testimonial-bg.png") no-repeat center/cover;
}
.testi-sec .testi-cnt {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testi-cnt .video {
  text-align: center;
}
.testi-cnt .video .video-btn {
  width: 114px;
  height: 114px;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
  margin-bottom: 25px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.testi-cnt .video-btn svg {
  transition: 0.3s linear;
}
.testi-cnt .video-btn::before {
  position: absolute;
  top: -13px;
  transform: translate(-50%, -50%);
  content: "Play";
  color: var(--abt-text-color);
  transition-duration: 0.3s;
  font-size: 20px;
  font-family: var(--font-Crimson-Pro);
  font-weight: 600;
}
.testi-cnt .video-btn:hover:before {
  font-size: 27px;
  opacity: 1;
  transform: translate(35px, 51px);
  transition-duration: 0.3s;
}
.testi-cnt .video-btn:hover {
  background: var(--text-color);
}
.testi-cnt .video-btn:hover svg {
  opacity: 0;
}
.testi-sec .testi-cnt .video span {
  font-size: 34px;
  font-family: var(--font-Outfit);
  font-weight: 500;
  color: var(--text-color);
  transition: 0.3s linear;
}
.testi-cnt .testi-card {
  padding: 65px 55px 27px;
  background: #e6e7ee;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  z-index: 0;
  transition: 0.3s linear;
}
.testi-card::after {
  content: "❞";
  position: absolute;
  top: -10px;
  right: 40px;
  font-size: 180px;
  color: rgb(197, 194, 194);
}
.testi-card .card-heading {
  margin-bottom: 50px;
}
.testi-card .sub-head {
  font-family: var(--font-Outfit);
  font-weight: 600;
  color: var(--abt-text-color);
  text-transform: uppercase;
}
.testi-card .heading {
  font-size: 40px;
  font-family: var(--font-Outfit);
  font-weight: 600;
}
.testi-card .prfil-img {
  max-width: 60px;
  margin-bottom: 25px;
  /* border-radius: 50%; */
}
.testi-card .prfil-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s linear;
  border-radius: 48%;
}
.testi-card img:hover {
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.testi-card .card-btm p {
  font-size: 20px;
  font-family: var(--font-Urbanist);
  font-weight: 500;
  letter-spacing: -0.2px;
  color: var(--abt-p-text-color);
  line-height: calc(25 / 20);
  margin-bottom: 20px;
}
.testi-card .dtils {
  margin-bottom: 30px;
}
.testi-card .dtils .nme {
  font-size: 22px;
  font-family: var(--font-Urbanist);
  font-weight: 500;
  line-height: calc(20 / 22);
}
.testi-card .dtils .domain {
  font-family: var(--font-Urbanist);
  color: var(--abt-p-text-color);
}
.testi-card .testi-card-btns {
  display: flex;
  justify-content: end;
  gap: 4px;
}
.testi-card .testi-card-btns .prv-btn,
.testi-card .testi-card-btns .nxt-btn {
  transition: 0.3s linear;
  border-radius: 50%;
}
.testi-card .testi-card-btns .prv-btn:hover,
.testi-card .testi-card-btns .nxt-btn:hover {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.testi-card:hover {
  transform: scale(0.9) translate(-20px, -30px);
}
/*=========== News ===========*/
.nws-sec {
  padding: 55px 0;
  background: #f6f4ee;
}
.nws-cnt {
  text-align: center;
  margin-bottom: 50px;
}
.nws-cnt .sub-head {
  font-size: 18px;
  font-family: var(--font-Crimson-Pro);
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  color: var(--abt-text-color);
}
.nws-sec .nws-cnt h2 > span {
  color: var(--abt-text-color);
}
.nws-sec .nws-cnt h2 > span::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -204px;
  right: 0;
  background-image: url("../assets/event-title.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 160px;
  height: 13px;
}
.nws-sec .nws-card {
  padding: 10px 15px 20px;
  background: var(--text-color);
  border-radius: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
  position: relative;
  /* overflow: hidden;   */
  z-index: 0;
}
/* .nws-card::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  width: 74px;
  height: 64px;
  background: #f6f4ee;
  border-radius: 50%;
} */
.nws-sec .nws-card .card-img {
  max-width: 100%;
  margin: 0 auto 20px;
  overflow: hidden;
  transition: 0.5s linear;
  border-radius: 15px;
}
.nws-sec .nws-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s linear;
  border-radius: 15px;
}
.nws-sec .nws-card:hover .card-img img {
  transform: rotate(10deg) scale(1.25);
}
.nws-sec .nws-card .card-cnt {
  text-align: center;
}
.nws-sec .nws-card .card-cnt .sub-title {
  font-family: var(--font-Outfit);
  font-weight: 600;
  color: var(--abt-text-color);
  margin-bottom: 8px;
}
.nws-sec .nws-card .card-title {
  font-size: 34px;
  font-family: var(--font-Outfit);
  font-weight: bold;
  margin: 0 auto 20px;
}
.nws-sec .nws-card.card-1 .card-title {
  max-width: 431px;
}
.nws-sec .nws-card.card-2 .card-title {
  max-width: 538px;
}
.nws-sec .nws-card .card-ditl {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
}
.nws-card .card-cnt .card-ditl .prsn span,
.nws-card .card-cnt .card-ditl .dte span {
  font-family: var(--font-Outfit);
  font-size: 16px;
  line-height: calc(30 / 16);
}
.nws-sec .nws-card .card-btn {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  z-index: 1;
}
.nws-sec .nws-card .card-btn svg {
  transition: 0.3s linear;
}
.nws-sec .nws-card .card-btn:hover svg {
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 50%;
}
.nws-row > div {
  display: flex;
}
.nws-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.nws-card .card-cnt {
  flex: 1;
}
.nws-card .card-btn {
  margin-top: auto;
}
/*======== Img-scroll ========*/
.scroll-sec {
  padding: 60px 0;
}
.scroll-sec .swiper-slide {
  max-width: 100%;
  overflow: hidden;
  transition: 0.3s linear;
  border-radius: 12px;
}
.scroll-sec .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s linear;
  border-radius: 12px;
}
.scroll-sec .swiper-slide:hover {
  transform: scale(0.9);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.scroll-sec .swiper-slide:hover img {
  transform: scale(1.2) rotate(12deg);
}
/*========= Research =========*/
.resrch-sec {
  padding: 75px 0;
  background: url("../assets/research-bg.png") no-repeat center/cover;
}
.resrch-sec .resrch-cnt {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.resrch-sec .resrch-cnt .sub-title {
  font-size: 24px;
  font-family: var(--font-Crimson-Pro);
  font-weight: 500;
  font-style: italic;
  color: var(--text-color);
}
.resrch-sec .resrch-cnt .title-3 {
  font-family: var(--font-Urbanist);
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: var(--text-color);
}
/*========== Footer ==========*/
.foot-sec {
  padding: 62px 0;
}
.foot-sec .foot-row {
  margin-bottom: 35px;
}
.foot-cnt-1 {
  max-width: 343px;
}
.foot-cnt-1 .foot-logo {
  max-width: 120px;
  margin-bottom: 20px;
}
.foot-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.foot-cnt-1 > p {
  font-size: 17px;
  font-family: var(--font-Urbanist);
  color: var(--abt-p-text-color);
  margin-bottom: 20px;
}
.foot-cnt-1 ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.foot-cnt-1 ul li a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 17px;
  font-family: var(--font-Urbanist);
  color: var(--abt-p-text-color);
}
.foot-cnt-1 ul li a span {
  max-width: 304px;
  position: relative;
}
.foot-cnt-1 ul li:last-child a span::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4px;
  height: 1px;
  background: var(--abt-p-text-color);
}
.foot-menu .ft-title {
  font-size: 23px;
  font-family: var(--font-Outfit);
  font-weight: 500;
  margin-bottom: 23px;
}
.foot-cnt-2 ul,
.foot-cnt-3 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.foot-cnt-2 ul li a,
.foot-cnt-3 ul li a {
  font-size: 18px;
  font-family: var(--font-Urbanist);
  color: var(--abt-p-text-color);
  position: relative;
}
.foot-cnt-2 ul li a::after,
.foot-cnt-3 ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background: var(--abt-p-text-color);
  bottom: -1px;
  transition: 0.3s linear;
}
.foot-cnt-2 ul li a:hover:after,
.foot-cnt-3 ul li a:hover:after {
  width: 90%;
}
.foot-cnt-4 p {
  max-width: 290px;
  font-size: 17px;
  font-family: var(--font-Urbanist);
  color: var(--abt-p-text-color);
  margin-bottom: 20px;
}
.foot-cnt-4 {
  width: 100%;
}
.subscribe-form {
  display: flex;
  align-items: center;
  max-width: 350px;
  width: 100%;
  padding: 6px;
  border: 1px solid #525252;
  border-radius: 10px;
  background: #fff;
  margin-bottom: 20px;
}
.subscribe-form input[type="email"] {
  flex: 1;
  border: none;
  outline: none;
  min-width: 0;
  background: transparent;
  padding: 6px 24px;
}
.subscribe-form input[type="email"]::placeholder {
  font-size: 17px;
  font-family: var(--font-Urbanist);
  color: var(--abt-p-text-color);
}
.subscribe-form input[type="submit"] {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 6px;
  background: var(--primary-color);
  color: var(--text-color);
  font-size: 17px;
  font-family: var(--font-Urbanist);
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
.subscribe-form input[type="submit"]:hover {
  background: var(--abt-text-color);
  box-shadow: rgba(0, 0, 0, 0.84) 0px 3px 8px;
}
.foot-cnt-4 ul {
  display: flex;
  align-items: center;
  gap: 5px;
}
.foot-cnt-4 ul li a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--abt-p-text-color);
  transition: 0.3s linear;
}
.foot-cnt-4 ul li a svg path {
  transition: 0.3s linear;
}
.foot-cnt-4 ul li a:hover {
  box-shadow:
    rgba(0, 0, 0, 0.19) 0px 10px 20px,
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.foot-cnt-4 ul li:first-child a:hover svg path {
  fill: #1877f2;
}
.foot-cnt-4 ul li:nth-child(2) a:hover svg path {
  fill: #e4405f;
}
.foot-cnt-4 ul li:nth-child(3) a:hover svg path {
  fill: #e60023;
}
.foot-cnt-4 ul li:last-child a:hover svg path {
  fill: #24a1de;
}
.foot-sec .copy-right {
  padding-top: 12px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 17px;
  font-family: var(--font-Urbanist);
  color: var(--abt-p-text-color);
  position: relative;
}
.foot-sec .copy-right a {
  color: var(--abt-p-text-color);
  text-transform: capitalize;
  position: relative;
}
.foot-sec .copy-right a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background: var(--primary-color);
  transition: 0.3s linear;
}
.foot-sec .copy-right a:hover:after {
  width: 100%;
}
.foot-sec .copy-right::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  height: 1px;
  background: #000;
  top: -12px;
}
/*=========== Media ===========*/
@media screen and (max-width: 1200px) {
  /*--------- Navbar ---------*/
  .navbar-nav {
    gap: 10px;
    margin-right: 10px;
  }
  .nav-btn {
    gap: 8px;
  }
  /*--------- Program ---------*/
}
@media screen and (max-width: 992px) {
  body {
    padding-right: 0 !important;
  }
  header {
    z-index: 1000;
  }
  .title-1 {
    font-size: 70px;
  }
  .title-2 {
    font-size: 50px;
  }
  /* Top header */
  .top-header,
  .bottom-header {
    z-index: 2;
  }
  .top-header .tp-hedr-social,
  .top-header ul {
    margin: 0 auto;
  }
  .top-header .tp-hedr-social {
    margin-bottom: 5px;
  }
  /*--------- Navbar ---------*/
  .offcanvas {
    flex-direction: column;
    padding-top: 82.6px !important;
    background: #858484;
    /* backdrop-filter: blur(20px); */
    min-height: calc(100vh);
    z-index: 1100 !important;
  }
  .navbar-nav {
    gap: 20px !important;
    align-items: center;
    margin: 0 auto !important;
    margin-bottom: 30px !important;
  }
  .nav-btn {
    flex-direction: column;
  }
  .offcanvas-end {
    right: 0 !important;
    left: auto !important;
  }

  .offcanvas {
    margin: 0 !important;
  }
  /*--------- Banner ---------*/
  .bnr-sec {
    padding-bottom: 60px;
    position: relative;
    z-index: 1;
  }
  .bnr-right-img {
    position: absolute;
    right: 0;
    top: 87px;
    max-width: 592px;
    height: 650px;
    z-index: 0 !important;
  }
  .bnr-right-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .bnr-cnt {
    position: relative;
    z-index: 2;
  }
  /*--------- Study Card ---------*/
  .stdy-sec .stdy-cards {
    padding-top: 30px;
    position: relative;
    top: 0;
  }
  .stdy-cards .card {
    margin: 0 auto 30px;
  }
  /*--------- About  ---------*/
  .abt-sec {
    padding: 60px 0 30px;
  }
  .abt-sec .abt-img {
    margin-bottom: 40px !important;
  }
  .abt-sec .abt-img,
  .abt-sec .abt-cnt {
    margin: 0 auto;
    text-align: center;
  }
  .abt-sec .abt-cnt > p {
    margin: 0 auto 20px;
  }
  .abt-sec .abt-cnt .abt-trust .build,
  .abt-sec .abt-cnt .abt-trust .students {
    display: flex;
    justify-content: center;
  }
  .abt-sec .abt-btm-box {
    margin: 0 20px;
    padding: 25px 50px;
    top: 30px;
  }
  .abt-sec .abt-btm-card {
    padding: 16px 4px;
  }
  .abt-sec .abt-btm-card .number {
    margin-bottom: 10px;
    font-size: 100px;
    font-family: var(--font-Crimson-Pro);
    font-style: italic;
    font-weight: 500;
    color: var(--text-color);
    line-height: calc(80 / 100);
  }
  .abt-sec .abt-btm-card.card-2::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    right: -10%;
    background: rgba(255, 255, 255, 30%);
    display: none;
  }
  /*--------- Program ---------*/
  .prgrm-sec {
    padding: 70px 0 30px;
  }
  /*--------- Event ---------*/
  .evnt-sec {
    padding: 50px 0;
  }
  .evnt-sec .evnt-title .title-2 {
    margin-left: 0;
  }
  /*--------- Testimonial ---------*/
  .testi-sec {
    padding: 50px 0;
  }
  .testi-sec .testi-cnt {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  /*--------- News ---------*/
  .nws-sec .nws-cnt h2 > span::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -184px;
    right: 0;
    background-image: url("../assets/event-title.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 140px;
    height: 13px;
  }
  .nws-sec .nws-card {
    padding: 10px 15px;
  }
  .nws-sec .nws-card .card-title {
    font-size: 28px;
    margin: 0 auto 10px;
  }
  /*--------- Research ---------*/
  .resrch-sec .resrch-cnt {
    flex-direction: column;
    gap: 20px;
  }
  .resrch-sec .resrch-cnt .sub-title {
    text-align: center;
  }
  .resrch-sec .resrch-cnt .title-3 {
    text-align: center;
  }
  /*------------ Footer ------------*/
  .foot-sec .foot-row {
    margin: 0 0 35px 30px;
  }
  .foot-cnt-1,
  .foot-cnt-2 {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  /*--------- Banner ---------*/
  .bnr-right-img {
    position: absolute;
    right: 0;
    top: 87px;
    max-width: 592px !important;
    height: 600px;
  }
  .bnr-right-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /*--------- Program ---------*/
  /*--------- Event ---------*/
  .evnt-sec .evnt-title {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .evnt-title .title-2 {
    text-align: center;
  }
  .evnt-sec .evnt-list .evnt .evnt-detail {
    gap: 30px;
  }
  .evnt-sec .evnt-title h2 > span::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 2px;
    right: 0;
    background-image: url("../assets/event-title.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 142px;
    height: 12px;
  }
  /*--------- Testimonial ---------*/
  .testi-cnt .testi-card {
    padding: 45px 40px 27px;
  }
  .testi-card .card-heading {
    margin-bottom: 30px;
  }
  .testi-card .heading {
    font-size: 30px;
  }
  .testi-card .dtils {
    margin-bottom: 20px;
  }
  /*--------- News ---------*/
  .nws-sec .nws-cnt h2 > span::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: -174px;
    right: 0;
    background-image: url("../assets/event-title.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 130px;
    height: 13px;
  }
  .nws-card {
    padding-bottom: 0 !important;
  }
  .nws-sec .nws-card .card-title {
    font-size: 20px;
  }
  .nws-sec .nws-card .card-btn {
    top: 30px;
  }
  /*--------- Research ---------*/
  .resrch-sec {
    padding: 40px 0;
  }
  /*--------- Footer ---------*/
  .foot-sec {
    padding: 40px 0;
  }
}
@media screen and(max-width:600px) {
  /*--------- Program ---------*/
  /* .prgrm-swiper-slider {
    padding:0 40px !important;
    margin: 0 70px !important;
  } */
  /* .swiper-button-next svg,
  .swiper-button-prev svg {
    display: block !important;
    z-index: 99;
  } */
  /*------------ Footer ------------*/
  .foot-sec .foot-row {
    margin: 0 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .title-1 {
    font-size: 45px;
  }
  .title-2 {
    font-size: 45px;
  }
  .title-3 {
    font-size: 35px;
  }
  h2 > span::after {
    width: 130px;
  }
  /*--------- Navbar ---------*/
  .text-icon {
    margin: 0 auto;
  }
  .top-header ul {
    justify-content: center;
  }
  /*--------- Banner ---------*/
  .bnr-cnt .sub-title {
    font-size: 35px;
  }
  .bnr-right-img {
    position: absolute;
    right: 0;
    top: 87px;
    bottom: 0;
    max-width: 592px;
    /* height: 750px; */
    z-index: 0;
  }
  .bnr-right-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  /*---------- Study ----------*/
  .stdy-sec {
    padding-bottom: 50px;
    overflow: hidden;
  }
  /*---------- About ----------*/
  .abt-sec .abt-btm-box {
    padding: 20px 30px;
    margin: 0 80px;
  }
  .abt-sec .abt-btm-card .number {
    margin-bottom: 10px;
    font-size: 80px;
  }
  .abt-sec .abt-btm-card.card-1::after,
  .abt-sec .abt-btm-card.card-2::after,
  .abt-sec .abt-btm-card.card-3::after {
    display: none;
  }
  .abt-sec .abt-btm-card.card-1::before,
  .abt-sec .abt-btm-card.card-2::before,
  .abt-sec .abt-btm-card.card-3::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 30%);
  }
  /*--------- Event ---------*/
  .evnt-sec .evnt-list .evnt .evnt-detail {
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }
  .evnt .evnt-detail .name-time .name {
    font-size: 20px;
  }
  .evnt-sec .evnt-title h2 > span::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 2px;
    right: 0;
    background-image: url("../assets/event-title.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 122px;
    height: 12px;
  }
  /*--------- Testimonial ---------*/
  .testi-card::after {
    content: "❞";
    position: absolute;
    top: -35px;
    right: 10px;
    font-size: 160px;
    color: rgb(197, 194, 194);
  }
  /*--------- News ---------*/
  .nws-sec .nws-cnt h2 > span::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 6px;
    right: 0;
    background-image: url("../assets/event-title.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 130px;
    height: 13px;
  }
  .nws-sec .nws-row {
    gap: 40px;
  }
  /*--------- Research ---------*/
  .resrch-sec .resrch-cnt .sub-title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  /*------------ Footer ------------*/
  .foot-sec .foot-row {
    margin: 0 0 30px;
  }
  .foot-cnt-1,
  .foot-cnt-2,
  .foot-cnt-3,
  .foot-cnt-4 {
    max-width: 100%;
    text-align: center;
  }
  .foot-cnt-1 .foot-logo {
    margin: 0 auto;
  }
  .foot-cnt-1 ul {
    align-items: center;
  }
  .foot-cnt-1 ul li a {
    font-size: 15px;
  }
  .foot-cnt-4 p {
    margin: 0 auto 20px;
  }
  .subscribe-form {
    margin: 0 auto 20px;
  }
  .foot-cnt-4 ul {
    justify-content: center;
  }
}
@media screen and (max-width: 406px) {
  .tp-hedr-cnt ul {
    display: none;
  }
  .tp-hedr-cnt ul li:last-child::before,
  .tp-hedr-cnt ul li:not(:last-child, :nth-child(3))::after {
    display: none !important;
  }
  .bnr-sec {
    padding-top: 265px;
  }
  .bnr-cnt .profiles {
    flex-wrap: wrap;
  }
  .bnr-right-img {
    top: 230px;
  }
  /*---------- About ----------*/
  .abt-sec .abt-btm-box {
    margin: 0 30px;
  }
  .abt-sec .abt-btm-card .number {
    margin-bottom: 10px;
    font-size: 80px;
  }
  /*--------- Testimonial ---------*/
  .testi-cnt .testi-card {
    padding: 30px 30px 27px;
  }
  .testi-card .card-heading {
    margin-bottom: 20px;
  }
  .testi-card .sub-head {
    font-size: 15px;
  }
  .testi-card .heading {
    font-size: 25px;
  }
  .testi-card .card-btm p {
    font-size: 16px;
    font-family: var(--font-Urbanist);
    font-weight: 500;
    letter-spacing: -0.7px;
    color: var(--abt-p-text-color);
    line-height: calc(25 / 20);
    margin-bottom: 20px;
  }
  .testi-card .dtils {
    margin-bottom: 10px;
  }
  .testi-card .testi-card-btns {
    justify-content: center;
  }
  .testi-card::after {
    content: "❞";
    position: absolute;
    top: -50px;
    right: 10px;
    font-size: 140px;
    color: rgb(197, 194, 194);
  }
  /*-------- Footer --------*/
  .foot-cnt-1,
  .foot-cnt-2,
  .foot-cnt-3 {
    margin-bottom: 30px;
  }
  .foot-sec .copy-right {
    font-size: 14px;
  }
  .foot-cnt-1 ul li a span {
    max-width: 234px;
    position: relative;
  }
  .foot-cnt-1 ul li:nth-child(2) a {
    gap: 5px;
  }
}
